@import "tailwindcss";
@import "./fonts.css";
@import "./nprogress.css";
@import "./transitions.css";
@import "./theme.css";
@import "./spacing.css";
@import "./pagination.css";
@import "./forms.css";
@import "./buttons.css";

:root {
  scrollbar-width: auto;
  scroll-behavior: unset;
}

body {
  font-family: var(--default-font-family), sans-serif;
  height: 100%;
  width: 100%;
}

#app {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;

  &:has(header) {
    grid-template-rows: auto auto 1fr auto;
  }
}

hr {
  margin-block: calc(var(--spacing) * 4);
}
