@import "tailwindcss";
@import "./nprogress.css";
@import "./transitions.css";
@import "./theme.css";
@import "./spacing.css";
@import "./pagination.css";
@import "./forms.css";
@import "./buttons.css";

@font-face {
  font-family: fredoka;
  src: url("/fonts/Fredoka-Regular.ttf") format("truetype");
}

@font-face {
  font-family: fredoka;
  font-weight: bold;
  src: url("/fonts/Fredoka-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: fredoka;
  font-weight: 500;
  src: url("/fonts/Fredoka-Medium.ttf") format("truetype");
}

:root {
  --default-font-family: fredoka;

  scrollbar-width: auto;
  scroll-behavior: unset;
}

body {
  font-family: var(--default-font-family), sans-serif;
  height: 100%;
  width: 100%;
}

#app {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;

  &:has(header) {
    grid-template-rows: auto auto 1fr auto;
  }
}

hr {
  margin-block: calc(var(--spacing) * 4);
}
