@import "tailwindcss";
@import "./transitions.css";
@import "./theme.css";
@import "./spacing.css";
@import "./pagination.css";

@font-face {
  font-family: Fredoka;
  src: url("/fonts/Fredoka-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Fredoka;
  font-weight: bold;
  src: url("/fonts/Fredoka-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: Fredoka;
  font-weight: 500;
  src: url("/fonts/Fredoka-Medium.ttf") format("truetype");
}

body {
  height: 100%;
  width: 100%;
}

:root {
  --default-font-family: fredoka;

  scrollbar-width: auto;
  scroll-behavior: unset;
}
